.header {
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: 1;
  .header_left {
    display: flex;
    align-items: center;
    width: 35%;
    gap: 5%;
    .header_img {
      width: 15%;
    }
  }

  .header_right {
    display: flex;
    width: 65%;
    gap: 8%;

    .link {
      cursor: pointer;
      text-decoration: none;
      font-size: 20px;
      color: #000;
    }
  }
}

.active {
  border-bottom: 6px solid hsl(46, 95%, 51%);
}
